# Python virtual environment
venv/
.env
.envrc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
/dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject a timestamp.
*.manifest
*.spec

# IDE / Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp

# macOS
.DS_Store

# Logs
*.log

# Flask specific
instance/
.webassets-cache

# Misc
*.sqlite3
